<div class="container">
  <div class="row">
    <div class="ui segment">
      <div class="ui floating dropdown labeled search icon button">
        <i class="world icon"></i>
          <span class="text">What would you like to do?</span>
            <div class="menu">
              {{!-- <div class="item"><strong>ID</strong>: {{category.id}}</div> --}}
              <div class="item">Bars and Breweries</div>
              <div class="item">Restaurants</div>
              <div class="item">Sporting Events</div>
              <div class="item">Meuseums</div>
              <div class="item">Libraries</div>
              <div class="item">Shopping</div>
              <div class="item">Parks</div>
            </div>
      </div>
    </div>

    <div class="ui right very close rail">
      <div class="ui segment">
          Itinerary
      </div>
      <p>
        <strong>Event:</strong> {{event.title}}</p>
      <p>
      <p>
        <strong>Description:</strong> {{event.description}}
      </p>
      <p>
        <strong>Date:</strong> {{event.date}}
      </p>
    </div>

  </div>
</div>