 <div class="container">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-3-4">
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
    </div>
    <div class="uk-width-1-4">
      <ul class="uk-list uk-link-text">
        <li><a href="/">Back</a></li>
        {{!-- <li><a href="#">Create Account</a></li> --}}
      </ul>
    </div>
  </div>
</div>        
<script>
(function() {
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  var uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function(authResult, redirectUrl) {
        // User successfully signed in.
        // Return type determines whether we continue the redirect automatically
        // or whether we leave that to developer to handle.
        return true;
      },
      uiShown: function() {
        // The widget is rendered.
        // Hide the loader.
        document.getElementById("loader").style.display = "none";
      }
    },
    // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
    signInFlow: "popup",
    signInSuccessUrl: "index.html",
    signInOptions: [
      // Leave the lines as is for the providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.FacebookAuthProvider.PROVIDER_ID,
      firebase.auth.TwitterAuthProvider.PROVIDER_ID,
      firebase.auth.GithubAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID,
      firebase.auth.PhoneAuthProvider.PROVIDER_ID
    ],
    // Terms of service url.
    tosUrl: "<your-tos-url>",
    // Privacy policy url.
    privacyPolicyUrl: "<main.html>"
  };
  ui.start("#firebaseui-auth-container", uiConfig);
})();

var app_fireBase = {};
(function() {
  var config = {
    apiKey: "AIzaSyDVhHGHb6hXl3LvveyiAWp3DLzNIp7yp6I",
    authDomain: "scenic-pro2.firebaseapp.com",
    databaseURL: "https://scenic-pro2.firebaseio.com",
    projectId: "scenic-pro2",
    storageBucket: "",
    messagingSenderId: "755781268373",
    appId: "1:755781268373:web:ca9d87ccca610859"
  };

  firebase.initializeApp(config);

  app_fireBase = firebase;
})();

</script>